# IDE
.idea/
.vscode/
.vs/
*.iml

# Yarn
yarn.lock
node_modules/
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Build
Thumbs.db
.DS_Store
docs/.build/
*.ps1
*.nb
*.m
